@import "global";

#schoolship-application {
  padding: 20px;

  .page-title {
    font-size: 1.2rem;
  }

  .input-title {
    @include solid();
  }

  .info-title {
    @include solid($primary-color, $secondary-color);
  }

  .text {
    color: $primary-color;
    line-height: 1.5;

    &.sm {
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  #service-form-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    table {
      width: 100%;
      margin: 2rem;

      th {
        width: 30%;
        color: $text-color;
        text-align: left;
        vertical-align: top;
        padding: 25px 0;
      }

      td {
        padding: 20px 0;
        color: $text-color;

        select {
          @include default-select();

          &#service-unit {
            width: 100%;
          }
        }

        #year-and-month {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > select {
            width: 45%;
          }
          & > span.spliter {
            display: inline-block;
            color: $info-color;
          }
        }

        & > textarea,
        & > input[type="text"] {
          color: $secondary-color;
          border: transparent;
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          box-sizing: border-box;

          &::placeholder {
            color: $info-color;
          }
        }
      }

      tr {
        border-bottom: $default-border;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .functional-button-group {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        @include default-button();
      }
    }

    @media screen and (min-width: 1024px) {
      table {
        width: 60% !important;

        th {
          width: 20% !important;
        }
      }

      .functional-button-group {
        width: 30% !important;
      }
    }
  }

  #hour-input {
    > section#wrappers > section {
      margin: 20px;
      table {
        width: 100%;

        thead > tr {
          border-bottom: $default-border;
        }

        tr > th,
        tr > td {
          padding: 10px;
          text-align: left;
        }
      }

      &#month-day-wrapper {
        table {
          tr > th:first-child,
          tr > td:first-child {
            width: 50% !important;
          }

          select {
            @include default-select();
          }
        }
      }

      &#hour-minute-wrapper {
        select {
          @include default-select(22%);
        }
      }

      &#amount-wrapper {
        table {
          tr > th:first-child,
          tr > td:first-child {
            width: 50% !important;
          }

          select {
            @include default-select();
          }
        }
      }
    }

    #add-button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        text-align: center;
        @include default-button();
        margin-top: 20px;
      }
    }

    @media screen and (min-width: 1060px) {
      > section#wrappers {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60%;

        > section {
          margin: 0;

          &#month-day-wrapper {
            width: 20%;
          }

          &#hour-minute-wrapper {
            width: 50%;
          }

          &#amount-wrapper {
            width: 30%;
          }
        }
      }
    }
  }

  #schoolship-detail {
    margin: 20px 0;

    .grid {
      display: flex;

      .grid-container {
        display: grid;
        grid-template-rows: repeat(8, 40px) 80px;
        grid-auto-flow: column;
        // grid-gap: 15px; // 用item的padding代替，為了讓border連貫
        overflow-x: auto;
        overflow-y: hidden;

        &.fixed-header {
          text-align: right;
          font-weight: bolder;
          padding-right: 10px;
          border-right: $default-border;
          min-width: 55px;
        }

        > div {
          padding: 5px 10px;

          &.table-sum {
            font-weight: bolder;
            border-left: $default-border;

            &.span-5 {
              writing-mode: vertical-lr;
              grid-row: span 5;
            }
          }

          button {
            background-color: transparent;
            border: 0;

            img {
              width: 15px;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      .grid {
        flex-direction: column;

        .grid-container {
          grid-template-rows: auto;
          grid-template-columns: repeat(8, 1fr) 80px;
          grid-auto-flow: row;

          &.fixed-header {
            text-align: left;
            border: 0;
            border-bottom: $default-border;
          }

          > div {
            padding: 20px 10px;

            &.table-sum {
              font-weight: bolder;
              border: 0;
              border-top: $default-border;

              &.span-5 {
                writing-mode: horizontal-tb;
                grid-column: span 5;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .grid {
        width: 60%;
        margin: auto;
      }
    }
  }
}
