@import "global";

#schoolship-application {
  padding: 20px;

  .page-title {
    font-size: 1.2rem;
  }

  .input-title {
    @include solid();
  }

  .info-title {
    @include solid($primary-color, $secondary-color);
  }

  .text {
    color: $primary-color;

    &.sm {
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  #service-form-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    table {
      width: 100%;
      margin: 2rem;

      th {
        width: 30%;
        color: $text-color;
        text-align: left;
        vertical-align: top;
        padding: 25px 0;
      }

      td {
        padding: 20px 0;
        color: $text-color;

        select {
          @include default-select();

          &#service-unit {
            width: 100%;
          }
        }

        #year-and-month {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & > select {
            width: 45%;
          }
          & > span.spliter {
            display: inline-block;
            color: $info-color;
          }
        }

        & > textarea,
        & > input[type="text"] {
          color: $secondary-color;
          border: transparent;
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          box-sizing: border-box;

          &::placeholder {
            color: $info-color;
          }
        }
      }

      tr {
        border-bottom: 1px solid $info-color;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .functional-button-group {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        @include default-button();
      }
    }

    @media screen and (min-width: 1024px) {
      table {
        width: 60% !important;

        th {
          width: 20% !important;
        }
      }

      .functional-button-group {
        width: 30% !important;
      }
    }
  }

  #hour-input {
    > section#wrappers > section {
      margin: 20px;
      table {
        width: 100%;

        thead > tr {
          border-bottom: $default-border;
        }

        tr > th,
        tr > td {
          padding: 10px;
          text-align: left;
        }
      }

      &#month-day-wrapper {
        table {
          tr > th:first-child,
          tr > td:first-child {
            width: 50% !important;
          }

          select {
            @include default-select();
          }
        }
      }

      &#hour-minute-wrapper {
        select {
          @include default-select(22%);
        }
      }

      &#amount-wrapper {
        table {
          tr > th:first-child,
          tr > td:first-child {
            width: 50% !important;
          }

          select {
            @include default-select();
          }
        }
      }
    }

    #add-button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        text-align: center;
        @include default-button();
        margin-top: 20px;
      }
    }

    @media screen and (min-width: 1024px) {
      > section#wrappers {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60%;

        > section {
          margin: 0;

          &#month-day-wrapper {
            width: 15%;
          }

          &#hour-minute-wrapper {
            width: 60%;
          }

          &#amount-wrapper {
            width: 25%;
          }
        }
      }
    }
  }

  #info-title {
    // TODO
  }
}
